<% provide(:title, 'About') %>
<h1>About</h1>
<h2>Under The Supervision of Dr. Ameen Shoukry </h2>
<p>
  <b>Brought to you by : </b><br>
  
  Sandra Shawkt<br>
  Merihan Tarek<br>
  Walid Gamal<br>
  Mostafa ElMaghraby<br>
  Mohamed Abu Elsaadat<br>
  Mohamed Mohy Eldin<br>
  Sameh Hany<br>
  Patrick Helmi<br>
  Khaled Zamzam <br>.
</p>
